
$titleColor: #333333;
$labelColor: #434343;
$inputColor: #222222;
$inputBorderSuccess: #A5B330;
$inputBorderError: #B41418;
$inputBorderDefault: #1B1B1B;
$inputPlaceholder: #888888;
$green: #A5B330;
$fontR: 'Raleway', sans-serif;
$fontM: 'Montserrat', sans-serif;